<h3 id="toolbar-bottom">Custom Toolbar (position: bottom) with toolbar title-attributes + Word counter</h3>
<quill-editor
  customToolbarPosition="bottom"
  [(ngModel)]="editorModel"
  format="object"
  [modules]="{ counter: { container: '#counter', unit: 'word' } }">
  <div above-quill-editor-toolbar>
    "above-quill-toolbar" projection content
  </div>
  <div quill-editor-toolbar>
    <span class="ql-formats">
      <button type="button" class="ql-bold"><svg viewBox="0 0 18 18"> <path class="ql-stroke" d="M5,4H9.5A2.5,2.5,0,0,1,12,6.5v0A2.5,2.5,0,0,1,9.5,9H5A0,0,0,0,1,5,9V4A0,0,0,0,1,5,4Z"></path> <path class="ql-stroke" d="M5,9h5.5A2.5,2.5,0,0,1,13,11.5v0A2.5,2.5,0,0,1,10.5,14H5a0,0,0,0,1,0,0V9A0,0,0,0,1,5,9Z"></path> </svg></button>
    </span>
    <span class="ql-formats">
      <select class="ql-font">
        <option value="aref">Aref Ruqaa</option>
        <option value="mirza">Mirza</option>
        <option selected value="roboto">Roboto</option>
      </select>
      <select class="ql-align" [title]="'Aligment'">
        <option selected></option>
        <option value="center"></option>
        <option value="right"></option>
        <option value="justify"></option>
      </select>
      <select class="ql-align" [title]="'Aligment2'">
        <option selected></option>
        <option value="center"></option>
        <option value="right"></option>
        <option value="justify"></option>
      </select>

      <select class="ql-color" [title]="'Color'">
      </select>

      <select class="ql-background" [title]="'BackgroundColor'">
      </select>
    </span>
    <span class="ql-formats">
      <div id="counter"></div>
    </span>
  </div>
  <div below-quill-editor-toolbar>
    "below-quill-toolbar" projection content
  </div>
</quill-editor>

<h4>Material Quill</h4>

<mat-form-field appearance="fill">
  <mat-quill
    customToolbarPosition="bottom"
    [(ngModel)]="editorModel"
    format="object"
    [modules]="{ counter: { container: '#mat-quill-counter', unit: 'word' } }">
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <select class="ql-font">
          <option value="aref">Aref Ruqaa</option>
          <option value="mirza">Mirza</option>
          <option selected value="roboto">Roboto</option>
        </select>
        <select class="ql-align" [title]="'Aligment'">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
        <select class="ql-align" [title]="'Aligment2'">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>

        <select class="ql-color" [title]="'Color'">
        </select>

        <select class="ql-background" [title]="'BackgroundColor'">
        </select>
      </span>
      <span class="ql-formats">
        <div id="mat-quill-counter"></div>
      </span>
    </div>
  </mat-quill>
</mat-form-field>
