<h3 id="modelValidation">NgModel/FormControl + Validation</h3>
<ng-form #form="ngForm">
  <p>
    Form valid: {{ form.valid }}<br>
    Model valid: {{ modelRef.valid }}<br>
  </p>
  <quill-editor name="editor" [(ngModel)]="model" [placeholder]="'my placeholder'" #modelRef="ngModel" [required]="true" [maxLength]="10"></quill-editor>
</ng-form>

@if (formGroup) {
  <p>
    FormGroup valid: {{ formGroup.valid }}<br>
    FormControl valid: {{ formGroup.get('control')!.valid }}<br>
  </p>
  <form [formGroup]="formGroup">
    MaxLength + required
    <quill-editor name="editor" formControlName="control" [maxLength]="10" [required]="true"></quill-editor>
  </form>
}
