<h3 id="signalForms">Signal Forms</h3>


<pre>value: {{ form.editor().value() }}</pre>
<pre>error number: {{ form.editor().errors().length }}</pre>
<pre>dirty: {{ form.editor().dirty() }}</pre>
<pre>touched: {{ form.editor().touched() }}</pre>
<pre>valid: {{ form.editor().valid() }}</pre>

@let ro = readonly();
@let dis = disabled();

<button type="button" (click)="patchValue()">update</button>
<button type="button" (click)="setControl()">set</button>
<button type="button" (click)="readonly.set(!ro)">readonly</button>
<button type="button" (click)="disabled.set(!dis)">disable</button>


<h4>Signal Forms used with quill-editor-field</h4>
<quill-editor-field
  #quillField
  [styles]="{ backgroundColor:backgroundColor }"
  [formField]="form.editor">
</quill-editor-field>

