<h3>Editor without toolbar + required and ngModule + maxlength 10 chars</h3>
<button (click)="toggleReadOnly()">Toggle ReadOnly</button>
<button (click)="toggleRequired()">Toggle Required</button>
Readonly: {{isReadOnly}}
Required: {{isRequired}}
{{title}}
<quill-editor
  [(ngModel)]="title"
  [maxLength]="10"
  [required]="isRequired"
  [readOnly]="isReadOnly"
  [modules]="{toolbar: false}"
  (onContentChanged)="logChange($event);"
  (onSelectionChanged)="logSelection($event);">
</quill-editor>
