<h3 id="readonlyFormControl">Editor without toolbar + readonly, required and formControl + maxlength 10 chars</h3>
<button (click)="toggleReadOnly()">Toggle ReadOnly</button>
<button (click)="toggleRequired()">Toggle Required</button>
<p>Readonly: {{isReadOnly}}
Required: {{isRequired}}</p>
<pre>{{ form.get('title').value }}</pre>
<quill-editor
  [formControl]="form.get('title')"
  [maxLength]="10"
  [required]="isRequired"
  [readOnly]="isReadOnly"
  [modules]="{toolbar: false}"
  (onContentChanged)="logChange($event);"
  (onSelectionChanged)="logSelection($event);">
</quill-editor>

<h4>Material Quill</h4>

<pre>{{ form.get('matTitle').value }}</pre>
<mat-form-field appearance="fill">
  <mat-quill
    [formControl]="form.get('matTitle')"
    [maxLength]="10"
    [required]="isRequired"
    [readOnly]="isReadOnly"
    [modules]="{toolbar: false}"
    (onContentChanged)="logChange($event);"
    (onSelectionChanged)="logSelection($event);">
  </mat-quill>
</mat-form-field>
