<div>
  <app-default></app-default>
  <app-activate-rtl></app-activate-rtl>
  <app-sanitize-html></app-sanitize-html>
  <app-no-sanitize-html></app-no-sanitize-html>
  <app-reactive-forms></app-reactive-forms>
  <app-formula></app-formula>
  <app-emoji></app-emoji>
  <app-mention></app-mention>
  <app-bubble-editor></app-bubble-editor>
  <app-no-toolbar></app-no-toolbar>
  <app-custom-toolbar></app-custom-toolbar>
  <app-format-json></app-format-json>
  <app-format-object></app-format-object>
  <app-format-text></app-format-text>
  <app-format-html></app-format-html>
  <app-preserve-whitespace></app-preserve-whitespace>
  <app-quill-api-embed></app-quill-api-embed>
  <app-view></app-view>
  <app-view-html></app-view-html>
  <app-child></app-child>
</div>
